extends layout

block content
	h1= title
	a(href="/")!= "Back to Book List"
	div.newbook
		form( method="post")
			div 
				div
					input.in.select(type="text", name="title", value="Title")
				div
					input.in.select(type="text", name="name", value="Author")
				div
					input.in.select(type="text", name="genre", value="Genre")
				div
					div.label Date Published:
					input.in.select(type="text", name="pubdate", value="YYYY")
				div
					div.label Date Read:
					input.in(type="text", name="readdate", value="MMYYYY")
				
				div#editBookSubmit
					input.clickable(type="submit", value="Save")
