extends layout

block content
	div.login
		form(action="/login", method="post")
			input.underlined(type="text", name="username", placeholder="user")
			input.underlined(type="password", name="password", placeholder="pword")
			input.clickable(type="submit", value="Log in")
			

	script(type="text/javascript", src="/javascripts/options.js")
