extends layout

block content

	div#search
		.backhome
			a.clickable(href="/")!= "Back"
		h3=title
		each book in books
			div.book
				div.title
					a(href="/book/"+book._id.toHexString()+"/edit")=book.title
				div.name="by "+ book.name
				div.genre= book.genre
