* { box-sizing: border-box; }

body {
	font: 14px/14px Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.4;
	background-color: #101010;
	color: white;
}
input, select, input[type=submit] {
	/*font-size: 1rem;*/
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
*:focus { outline:none }
a {
	color: $primary;
	transition: color 300ms ease-in;
	&:hover {
		color: $highlight;
	}
}
input[type=submit] { 
	cursor: pointer; 
}

h1, h2, h3 {
	font-weight: normal;
}

.clickable {
	text-decoration: underline;
	cursor: pointer;
}



input[type="text"] {
	background: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid $three;
	&.save {  min-width:40px }
	&:focus { 
		outline: none;
		border-bottom: 1px solid primary;
	}
}

textarea {
	width: 100%;
	border: none;
	padding: 0.25em;
	font-size: 1em;
}

#wrap {
	max-width: 960px;
	margin:0 auto;
	min-width: 320px;
}

#index { padding: 1em; }

.books {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	.tag { margin-right: 3px; }
}

.book {
	min-width: 180px;
	display: inline-block;
	padding: 0.5em 0 ;
	.title { line-height: 1.2; }
	.genre { font-style: italic; }
	div { margin-bottom: 0.25em; }
}

.refd {
	padding: 0 1em;
	input, textarea, div {
		font-size: 14px;
		margin: 0.5em 0;
	}
	input[value="Save"] {
		display: block;
	}
}
