#index {
	#header  {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-gap: 1em;
		input, select {
			margin-bottom: 3px;
			margin-right: 3px;
		}
	}
	.search, .browse {
		display: block;
	}
	input[name="query"] {
		width: 100%;
		font-size: 18px;
		padding: 0.25em 0; 
		background: transparent;
		border: none;
		outline: none;
		color: white;
		border-bottom: 1px solid white;

	}
}