/* iphone styles*/    
@media only screen and (max-device-width : 400px) {
	body { padding: 0; margin: 0; font-size: 20px; }

	#index {
		input[name="_query"] {
			font-size: 22px;
		}
		#header {
			grid-template-columns: 1fr;
		}
		select {
			min-width: 120px;
		}
	}

	.search {
		input {
			display: block;
		}
	}
	.books {
		grid-template-columns: repeat(2, 1fr);
	}
	.book {
		margin: 0;
		float: none;
		height: auto;
	}
	.book-single {
		.name,
		.genre,
		.pubdate,
		.readdate {
 			width: 50%
		}
		.delete {
			display:none
		}
		.notes .note, 
		.quotes .quote {
			width: 100%
		}
		.notes, .quotes {
			h3 { grid-column: 1 ; }
			grid-template-columns: 1fr;
		}
	}

}

@media only screen and (max-width : 600px) {
	.book-single {
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"info"
			"content"
			"ref";

		#content {
			.notes, .quotes {
				grid-template-columns: 1fr;
				.note, .quote {
					grid-column: 1;
				}
			}
		}

		#references .refs {
			grid-template-columns: repeat(1, 1fr);
			h3 {  grid-column: 1;  }
		}
	}
}

@media only screen and (min-width: 601px) and (max-width : 680px) {
	.book-single {
		grid-template-columns: 1fr 1fr;

		#content {
			.notes, .quotes {
				grid-template-columns: 1fr;
				.note, .quote {
					grid-column: 1;
				}
			}
		}

		#references .refs {
			grid-template-columns: repeat(2, 1fr);
			h3 {  grid-column: 1 / span 2;  }
		}
	}
}
