@import url('https://fonts.googleapis.com/css?family=Arimo');

$one: #9597E8;
$two: #E2A3FF;
$three: #95E8C4;
$four: #AFE9FF;
$five: #C1FFB0;

$primary: $one;
$secondary: $three;
$highlight: $two;


@import "reset.css";
@import "global";
@import "index";
@import "edit";
@import "new";
@import "small";