@import url('https://fonts.googleapis.com/css?family=Arimo');
*
	box-sizing: border-box
br 
	clear: both
body
	font: 14px/14px 'Arimo', Verdana, Helvetica, Arial, sans-serif
	line-height:1.4
	background: url('/images/bkg-dot-sm.jpg')
input
	font: 14px/14px 'Arimo', Verdana, Helvetica, Arial, sans-serif
#wrap
	max-width:800px
	margin:0 auto
	min-width: 320px
#index
.book-single
.newbook
	background: bkg 
	margin-top:1em
	padding:1em 2em
*:focus
	outline:none
h1, h2, h3
	font-weight:normal
	background: wht
	padding:0.25em .5em
	box-shadow: -2px 2px 0 primary
a
	color: inherit
	text-decoration:none
a:hover
	/*border-bottom:2px solid highlight*/
input[type="submit"]
	cursor:pointer
button
	text-align: left
	font-family:Verdana
	border:none
	background: transparent
	cursor:pointer
	padding:0
	&:focus
		outline:none
.box
	box-shadow: -2px 2px 0 primary
	background: wht
	padding: 0.25em .5em;
.title
	font-size:18px
.clickable
	font-size:inherit
	font-family: inherit
	background: highlight
	display:inline-block
	/*margin-right:0.5em*/
	cursor:pointer
	text-align:center
	box-shadow: -2px 2px 0 primary
	padding: .5em 1em
	transition: background-color 300ms
.clickable:hover
	background-color: secondary
a.clickable:hover
	border-bottom: none
.backhome 
	margin-right: 2px
textarea
	resize:none
	border:none
	background: lighten(primary, 85%)
	font-size:14px

select
	-webkit-appearance: button;
	-webkit-border-radius: 0;
	box-shadow: -2px 2px 0 primary
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	background-image: url(/images/drop.svg);
	background-color:wht;
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 1em;
	border: none
	font-size: inherit;
	font-family: inherit
	padding: .5em 1em
	white-space: nowrap;
	min-width: 90px

.book
	min-width: 100px
	width:30%
	display:inline-block
	background:wht
	margin-right:1em
	padding:0.5em
	box-shadow: -2px 2px 0 primary
	vertical-align:top
	div
		margin:.5em 0
	margin-bottom: 2em
	
.refd
	background:bkg
	box-shadow: -2px 2px 0 primary
	padding: 0 1em
	margin:1em
	input
	textarea
	div
		font-size:14px
		margin: 0.5em 0
	input[value="Save"]
		display:block

#books
	display: grid
	grid-template-columns: repeat(3, 1fr)