/* iphone 5 styles*/    
@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
	body
		padding:0
	#wrap
		margin-top:2em
	.search
		input
			display:block
			margin:8px
	.book
		margin:0
		float:none
		height:auto
	.book-single
		.name
		.genre
		.pubdate
		.readdate
			width: 50%
		.delete
			display:none
		.notes .note
		.quotes .quote
			width: 100%

	.notes-column
		margin-left: 0