@import "reset.css"

primary = #8181C7
secondary = #f3f
highlight = #fdf
bkg = #E0E0E0
wht = #fff

/*  globes   */
body
  padding: 50px
  font: 14px Helvetica, Arial, sans-serif
  background: url('/images/bkg-dot-sm.jpg')
a
  color: secondary
  text-decoration:none
a:hover
  border-bottom:2px solid highlight
.clickable
  padding: 6px
  font-size:16px
  background: highlight
  display:inline-block
  cursor:pointer
  text-align:center
  &:hover
    border:none 
.underlined
  margin:0 3px
  border-bottom:1px solid black
  padding:0 !important
  &:focus
      outline:none !important
input
  &:focus
      outline: primary auto 5px;
  &[type="submit"]
    cursor:pointer
    border-bottom:2px solid transparent
    &:hover
      border-bottom:2px solid highlight
.cf 
  clear:both
  height:10px

  
/*  index */
#books
  margin-top:8px
  .title button
    color: primary
    font-size:24px
    margin:6px 0
    cursor:pointer
    background: transparent
    border:none
    text-align:left
    padding:2px
    &:hover
      background-color: highlight
    &:focus
      outline:none
  input[name="_query"]
    font-size:24px
  select
    margin-right:12px
  div
    margin-top:12px

.menu
  a 
    margin:3px 6px 3px 0
#delete
  width:60px

  
/*  new reference page */
.nothing 
  margin: 12px 0
.book
  width: 160px;
  height: 200px;
  background: lighten(secondary, 60%)
  padding: 6px;
  border: 10px solid primary 
  float:left
  margin-right:6px
  margin-bottom:6px
  div
    margin:3px 0
  .title
    color: primary
    font-size:18px
  .note
    width:140px
    height:90px
    background:bkg 
    margin:3px 0 
.browsedbook
  margin:16px 0
  textarea
    vertical-align: middle;
    margin: 4px;
  .title
    color: primary
    font-size:18px
    padding:6px
    display:inline
  .type
    background: primary
    color:white
    font-size:18px
    padding:6px
    display:inline
    margin-right:3px
  .browsekey
    background:bkg 
    margin:3px 0 
    padding:6px

/*  single book page   */
.backhome
  float:right
  a
    border-bottom:2px solid transparent
    &:hover
      border-bottom:2px solid highlight
.book-single
  max-width:960px
  .bk
    width:480px
    background: transparent
    position: relative 
    float:left
  .title input
    color: primary
    font-weight: 300
    font-size:24px
    width:100%
    padding:3px
  .type
    display:inline-block
    background:primary
    padding:6px
    color:white
    position: absolute
    top:0
    right:0
  .created-at, .created-at *
    font-size:9px
    background: lighten(bkg, 80%)
    padding:2px
    color: primary
  input
    font-size:14px
    padding:6px
    &.save 
      min-width:40px
    &:focus
      outline: primary auto 5px;
  textarea
    font-size:14px
    border:none
    width:98%
    background: lighten(primary, 90%) 
  .plus
    margin-right:10px
  .infocolumn
    display:inline-block
    vertical-align: top
    width:234px
    padding:3px
    color: primary
    font-size:16px 
    background: wht 
    input
      min-width:140px
      color: primary
      font-size:16px
  .quotes
    background: lighten(primary, 80%)
    padding:6px
    .quote
      margin:8px 0
  .notes
    background: desaturate(secondary, 80%)
    padding:6px
  .link
    background: bkg
    padding:6px
    font-size:14px 
    display:inline-block
    margin-right:3px
  .tag
    background: primary
    input
      color:wht
      cursor:pointer
    font-size:16px
    padding:3px
    display:inline-block
    margin-right:3px 
  div 
    margin:8px 0
  #editBookSubmit
    display:inline-block
  .new-attribute
    background:bkg
    padding:8px
    textarea
      margin-left: 4px
      padding:6px
      width:400px
    .label
      text-transform:capitalize
      margin-left: 4px;
      padding: 6px;
  #atts-container
    display:none
    margin-top:16px
    position:relative
    .atts 
      background: secondary
      display inline-block
      padding:3px
      color:white 
      margin:3px 3px 3px 0
      cursor:pointer
    .cancel
      background: primary
      color: white
      padding:3px
      cursor:pointer
  .new-attribute
    position:relative
  #cancel-att
    position:absolute 
    top:10px
    right:10px
  .hidecontents
    position: relative 
    span
      position:absolute
      right:10px
      cursor:pointer
    .hiddencontents
      display:none 
  .refs
    width:360px
    clear:right
    float:right
    background: lighten(bkg, 50%)
    padding:6px
    .h1
      color:primary
      font-size:18px
    .title 
      color:primary
      padding:0
    .addref
      display:none
    select
      margin:3px
     

    

/* NEW BOOK */
.newbook 
  width:640px
  background:transparent
  margin-top:16px
  #book
    float:left
  div
    margin:6px 0
  .label
    width:75px
    dislay:block
    text-decoration:center 
  .in
    background: bkg
    padding:6px
    margin:3px 0
    font-size:18px
  .newtype
    font-size:18px


    

