@import "reset.css";
/*  globes   */
body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background: url("/images/bkg-dot-sm.jpg");
}
a {
  color: #f3f;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #fdf;
}
.clickable {
  padding: 6px;
  font-size: 16px;
  background: #fdf;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input:focus {
  outline: #8181c7 auto 5px;
}
/*  index */
#books {
  width: 640px;
}
#books div,
#books form {
  margin: 8px 0;
}
#books .title input {
  color: #8181c7;
  font-size: 24px;
  margin: 6px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
#books .title input:hover {
  border-bottom: 2px solid #fdf;
}
#books .title input:focus {
  outline: none;
}
.book {
  padding: 3px;
  margin: 3px 0;
}
.menu a {
  margin: 3px 6px 3px 0;
}
#delete {
  width: 60px;
}
/*  single book page   */
.book-single {
  width: 640px;
  background: transparent;
  position: relative;
}
.book-single .title input {
  color: #8181c7;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  padding: 3px;
}
.book-single .type {
  display: inline-block;
  background: #8181c7;
  padding: 6px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.book-single .created-at,
.book-single .created-at * {
  font-size: 9px;
  background: #f9f9f9;
  padding: 2px;
  color: #8181c7;
}
.book-single input {
  font-size: 14px;
  padding: 6px;
}
.book-single input.save {
  min-width: 40px;
}
.book-single input:focus {
  outline: #8181c7 auto 5px;
}
.book-single textarea {
  font-size: 14px;
  border: none;
  width: 98%;
  background: #f2f2f9;
}
.book-single .plus {
  margin-right: 10px;
}
.book-single .infocolumn {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  padding: 3px;
  color: #8181c7;
  font-size: 16px;
}
.book-single .infocolumn input {
  min-width: 140px;
  color: #8181c7;
  font-size: 16px;
}
.book-single .quotes {
  background: #e6e6f4;
  padding: 6px;
}
.book-single .quotes .quote {
  margin: 8px 0;
}
.book-single .notes {
  background: #ad85ad;
  padding: 6px;
}
.book-single .link {
  background: #e0e0e0;
  padding: 6px;
  font-size: 18px;
  display: inline-block;
  margin-right: 3px;
}
.book-single div {
  margin: 8px 0;
}
.book-single #editBookSubmit {
  display: inline-block;
}
.book-single .new-attribute {
  background: #e0e0e0;
  padding: 8px;
}
.book-single .new-attribute textarea {
  margin-left: 4px;
  padding: 6px;
  width: 400px;
}
.book-single .new-attribute .label {
  text-transform: capitalize;
  margin-left: 4px;
  padding: 6px;
}
.book-single #atts-container {
  display: none;
  margin-top: 16px;
  position: relative;
}
.book-single #atts-container .atts {
  background: #f3f;
  display: inline-block;
  padding: 3px;
  color: #fff;
  margin: 3px 3px 3px 0;
  cursor: pointer;
}
.book-single #atts-container .cancel {
  background: #e0e0e0;
  color: #fff;
  padding: 3px;
  cursor: pointer;
}
.book-single .new-attribute {
  position: relative;
}
.book-single #cancel-att {
  position: absolute;
  top: 10px;
  right: 10px;
}
.book-single .hidecontents span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
/* NEW BOOK */
.newbook {
  width: 640px;
  background: transparent;
  margin-top: 16px;
}
.newbook div {
  margin: 6px 0;
}
.newbook .label {
  width: 75px;
  dislay: block;
  text-decoration: center;
}
.newbook .in {
  background: #e0e0e0;
  padding: 6px;
  margin: 3px 0;
  font-size: 18px;
}
