@import "reset.css"

primary = #8181C7
secondary = #f3f
highlight = #fdf
bkg = #f5f5f5
wht = #fff

/*  globes   */
*
	box-sizing: border-box
body
	font: 12px/14px Verdana, Helvetica, Arial, sans-serif
	background: url('/images/bkg-dot-sm.jpg')
#wrap
	max-width:800px
	margin:0 auto
#index
.book-single
	background:  #efefef 
	margin-top:1em
	padding:1em 2em
*:focus
	outline:none
h2, h3
	font-weight:normal
a
	color: secondary
	text-decoration:none
a:hover
	border-bottom:2px solid highlight
.clickable
	padding: 3px 6px 
	font-size:16px
	background: highlight
	display:inline-block
	cursor:pointer
	text-align:center
	border-radius: 4px
a.clickable:hover
	border-bottom: none

.underlined
	margin:0 3px
	border-bottom:1px solid black
	padding:0 !important
	&:focus
		outline:none !important
input
	&:focus
		outline: primary auto 5px;
	&[type="submit"]
		cursor:pointer
		border-bottom:2px solid transparent

button
	text-align: left
	font-family:Verdana
	border:none
	background: transparent
	cursor:pointer
	padding:0
	&:focus
		outline:none
textarea
	resize:none
	border:none
	background: lighten(primary, 85%)
	font-size:14px
select
	-webkit-appearance: button;
	-webkit-border-radius: 0;
	box-shadow: -2px 2px 0 primary
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	background-image: url(/images/drop.svg);
	background-color:wht;
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 1em;
	border: none
	font-size: inherit;
	font-family: inherit
	padding: .5em 1em
	white-space: nowrap;
	min-width: 80px

.book
	min-width: 100px
	width:30%
	display:inline-block
	background:bkg
	margin-right:1em
	padding:0.25em
	box-shadow: -2px 2px 0 primary
	vertical-align:top
	.title button
		color: primary
		font-size:20px
	div
		margin:.5em 0
	margin-bottom: 2em
.refd
	float:left
	background:bkg
	box-shadow: -2px 2px 0 primary
	padding:1em
	margin-right:1em
	input
	textarea
	div
		font-size:14px
		margin: 0.5em 0
	input[value="Save"]
		display:block
	
/*  index */
#index
	.book, h3
		margin-top:1em
	.search
	.browse
		display:inline-block
		margin-bottom:2em
		padding-right:1em
		min-width: 200px
		width:50%
	.search input
	.search select
	.browse input
	.browse select
		margin: 0.5em 0
		display:block
	.search form, .browse form
		/*display: inline*/
		margin-right: 1em
	.name 
		color: black
	.genre
		color: primary
	input[name="_query"]
		font-size:24px
		width:160px
	.add
		margin-bottom: 2em
	.title a
		color: primary
		font-size: 18px
		

/*  single book page   */    
.book-single
	.bk
		background: transparent
		position: relative 
	.title input
		font-size:36px
		width:100%
		text-overflow: ellipsis;
	.type
		display:inline-block
		background:highlight
		padding:3px 6px
		color:white
	.created-at
		font-size: 12px
		margin-left:1em
		display:inline-block
		color: gray
	.name
	.genre
		width:25%
	.delete
		font-size: 12px
	.name
	.pubdate
	.genre
	.readdate
		font-size:12px
		color:gray
		display:inline-block
		input
			font-size:14px
	input[type="text"]
		&.save 
			min-width:40px
		&:focus
			outline: none;
			border-bottom:1px solid primary;

    
	.plus
		margin-right:10px
	.notes-column
		padding-top: 10px
	.notes
	.quotes
		.note
		.quote
			background:bkg
			margin:1em 0
			width:30%
			margin-right:1em
			display:inline-block
			vertical-align:top
			box-shadow: -2px 2px 0 primary
			padding-right:3em
			textarea
				width:100%
	.hidecontents
		position: relative
		height:26px
		overflow:hidden
		span
			position:absolute
			right:10px
			cursor:pointer
			
	.link
	.tag
		padding: 2px
		display:inline-block
		margin-right:3px
		font-size:18px
		a
			font-size:18px
		input
			font-size:18px
			color:secondary
	 		cursor:pointer
	div 
		margin:0.25em 0

	.new-attribute
		background:bkg
		padding:8px
		.label
			text-transform:capitalize
			padding: 6px 0;
	#atts-container
		display:none
		margin-top:16px
		position:relative
		.atts 
			background: highlight
			display inline-block
			margin:3px 0 3px 3px
			padding:0.25em
			cursor:pointer
		.cancel
			background: secondary
			border-radius: 0.25em
			margin:.5em
			color: white
			padding:0.25em
			cursor:pointer
	.new-attribute
		position:relative
	#cancel-att
		position:absolute 
		top:10px
		right:10px
	.refs
		margin:2em 0
		input.title
			font-size:14px
		.book
			margin-right:1em
		.h1
			color:primary
			font-size:18px
		.title 
			color:primary
			padding:0
		.addref
			display:none
	select
		margin:3px
	.by input[type="submit"]
		width:100%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
     
/*  new reference page */
.nothing 
	margin: 12px 0
	div
		margin:3px 0
	.title
		color: primary
		font-size:18px
		margin: 0
		width:80%
	.note
		width:140px
		height:90px
		background:bkg 
		margin:3px 0 

    

/* NEW BOOK */
.newbook 
	width:640px
	background:transparent
	margin-top:16px
	#book
		float:left
	div
		margin:6px 0
	.label
		width:75px
		dislay:block
		text-decoration:center 
	.in
		background: bkg
		padding:6px
		margin:3px 0
		font-size:18px
	.newtype
		font-size:18px
    
/* smaller than 800px styles */
@media only screen and (max-width : 800px)
	.book-single .notes-column
		clear:left
		margin-left: 0

    
/* iphone 5 styles*/    
@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
	body
		padding:0
	#wrap
		margin-top:2em
	.search
		input
			display:block
			margin:8px
	.book
		margin:0
		float:none
		height:auto
	.book-single
		.name
		.genre
		.pubdate
		.readdate
			width: 50%
		.delete
			display:none
		.notes .note
		.quotes .quote
			width: 100%

	.notes-column
		margin-left: 0