@import "reset.css";
/*  globes   */
body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background: url("/images/bkg-dot-sm.jpg");
}
a {
  color: #f3f;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #fdf;
}
.clickable {
  padding: 6px;
  font-size: 16px;
  background: #fdf;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
.clickable:hover {
  border: none;
}
.underlined {
  margin: 0 3px;
  border-bottom: 1px solid #000;
  padding: 0 !important;
}
.underlined:focus {
  outline: none !important;
}
input:focus {
  outline: #8181c7 auto 5px;
}
input[type="submit"] {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
input[type="submit"]:hover {
  border-bottom: 2px solid #fdf;
}
.cf {
  clear: both;
  height: 10px;
}
/*  index */
#books {
  margin-top: 8px;
}
#books .search,
#books .browse,
#books .menu {
  display: inline;
}
#books .search form,
#books .browse form {
  display: inline;
  margin-right: 1em;
}
#books .title button {
  color: #8181c7;
  font-size: 20px;
  margin: 6px 0;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: left;
  padding: 2px;
}
#books .title button:hover {
  text-decoration: underline;
}
#books .title button:focus {
  outline: none;
}
#books .name {
  color: #000;
}
#books .genre {
  color: #8181c7;
}
#books input[name="_query"] {
  font-size: 24px;
}
#books select {
  margin-right: 12px;
}
#books .refd {
  width: 200px;
  float: left;
}
#books .refd input[value="Save"] {
  display: block;
}
.menu a {
  margin: 3px 6px 3px 0;
}
#delete {
  width: 60px;
  position: absolute;
  top: 6px;
  right: 6px;
}
/*  new reference page */
.nothing {
  margin: 12px 0;
}
.book {
/*background: lighten(secondary, 60%)*/
  padding: 6px;
  border: 1px solid #8181c7;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  position: relative;
}
.book:hover {
  background: rgba(255,173,255,0.5);
}
.book div {
  margin: 3px 0;
}
.book .title {
  color: #8181c7;
  font-size: 18px;
  margin: 0;
  width: 80%;
}
.book .note {
  width: 140px;
  height: 90px;
  background: #e0e0e0;
  margin: 3px 0;
}
.browsedbook {
  margin: 16px 0;
}
.browsedbook textarea {
  vertical-align: middle;
  margin: 4px;
}
.browsedbook .title {
  color: #8181c7;
  font-size: 18px;
}
.browsedbook .browsekey {
  background: #e0e0e0;
  margin: 3px 0;
  padding: 6px;
}
.browsedbook input[value="Save"] {
  display: block;
}
/*  single book page   */
.backhome a {
  border-bottom: 2px solid transparent;
}
.backhome a:hover {
  border-bottom: 2px solid #fdf;
}
.book-single {
  max-width: 960px;
}
.book-single .bk {
  width: 300px;
  background: transparent;
  position: relative;
  float: left;
}
.book-single .title input {
  color: #8181c7;
  font-weight: 300;
  font-size: 24px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}
.book-single .type {
  display: inline-block;
  background: #8181c7;
  padding: 6px;
  color: #fff;
}
.book-single .created-at,
.book-single .created-at * {
  background: #e0e0e0;
  padding: 2px;
  color: #8181c7;
}
.book-single input {
  font-size: 14px;
}
.book-single input[type="text"] {
  border: 1px solid #8181c7;
  border-radius: 3px;
  margin: 6px 0;
  padding: 3px 3px;
}
.book-single input[type="text"].save {
  min-width: 40px;
}
.book-single input[type="text"]:focus {
  outline: #8181c7 auto 5px;
}
.book-single textarea {
  font-size: 14px;
  border: none;
  width: 98%;
  background: #ececf7;
}
.book-single .plus {
  margin-right: 10px;
}
.book-single .infocolumn {
  vertical-align: top;
  font-size: 16px;
}
.book-single .infocolumn input {
  min-width: 140px;
  color: #8181c7;
  font-size: 16px;
}
.book-single .notes-column {
  margin-left: 320px;
  padding-top: 10px;
}
.book-single .quotes {
  border: 1px solid #8181c7;
  border-radius: 6px;
  padding: 6px;
}
.book-single .quotes .quote {
  margin: 8px 0;
}
.book-single .notes {
  border: 1px solid #f3f;
  border-radius: 6px;
  padding: 6px;
}
.book-single .link {
  padding: 2px;
  font-size: 18px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 3px;
}
.book-single .tag {
  background: #8181c7;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px;
  display: inline-block;
  margin-right: 3px;
}
.book-single .tag input {
  color: #fff;
  cursor: pointer;
}
.book-single div {
  margin: 8px 0;
}
.book-single .new-attribute {
  background: #e0e0e0;
  padding: 8px;
}
.book-single .new-attribute textarea {
  margin-left: 4px;
  padding: 6px;
  width: 400px;
}
.book-single .new-attribute .label {
  text-transform: capitalize;
  margin-left: 4px;
  padding: 6px;
}
.book-single #atts-container {
  display: none;
  margin-top: 16px;
  position: relative;
}
.book-single #atts-container .atts {
  background: #f3f;
  display: inline-block;
  padding: 3px;
  color: #fff;
  margin: 3px 3px 3px 0;
  cursor: pointer;
}
.book-single #atts-container .cancel {
  background: #8181c7;
  color: #fff;
  padding: 3px;
  cursor: pointer;
}
.book-single .new-attribute {
  position: relative;
}
.book-single #cancel-att {
  position: absolute;
  top: 10px;
  right: 10px;
}
.book-single .hidecontents {
  position: relative;
}
.book-single .hidecontents span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.book-single .hidecontents .hiddencontents {
  display: none;
}
.book-single .refs {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 6px;
}
.book-single .refs .h1 {
  color: #8181c7;
  font-size: 18px;
}
.book-single .refs .title {
  color: #8181c7;
  padding: 0;
}
.book-single .refs .addref {
  display: none;
}
.book-single .refs select {
  margin: 3px;
}
.book-single .refs .by input[type="submit"] {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* NEW BOOK */
.newbook {
  width: 640px;
  background: transparent;
  margin-top: 16px;
}
.newbook #book {
  float: left;
}
.newbook div {
  margin: 6px 0;
}
.newbook .label {
  width: 75px;
  dislay: block;
  text-decoration: center;
}
.newbook .in {
  background: #e0e0e0;
  padding: 6px;
  margin: 3px 0;
  font-size: 18px;
}
.newbook .newtype {
  font-size: 18px;
}
/* smaller than 800px styles */
@media only screen and (max-width : 800px) {
  .book-single .notes-column {
    clear: left;
    margin-left: 0;
  }
}
/* iphone 5 styles*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  body {
    padding: 0;
  }
  .search input {
    display: block;
    margin: 8px;
  }
  .book {
    margin: 0;
    float: none;
    height: auto;
    width: 266px;
  }
  .book #delete {
    display: none;
  }
  .book-single .bk {
    width: 300px;
  }
  .book-single .refs {
    width: 300px;
  }
  .notes-column {
    margin-left: 0;
  }
}
